.mb-3, .my-3 {
  margin-bottom: 0!important;
  border-radius: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.inactive {
  background-color: lightgray;
}

.member-data {
  display: flex;
  width: 100%;
  padding: 10px;
}

.member-data .image{
  flex: 0.1;
}

.member-data .image img {
  max-width: 25px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,.125);
}

.member-data .title {
  flex: 0.9;
}

.students, .groups {
  text-align: center;
  border: 1px solid rgba(0,0,0,.125);
  padding: 20px;
}

.students {
  width: 30%;
}

.groups {
  width: 70%;
  margin-left: 2%;
}

.students .title {
  text-align: left;
  margin-left: 5%;
}